{% extends '@EasyAdmin/default/layout.html.twig' %}

{#{% block header_custom_menu %}#}

    {#{{ parent() }}#}

    {#<ul class="nav navbar-nav">#}
        {#<li class="dropdown locale locale-menu">#}
            {#{% include 'parts/langswitcher.html.twig' with { 'class' : 'btn btn-secondary '} %}#}
        {#</li>#}
    {#</ul>#}
{#{% endblock %}#}