{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-center">{{ 'product.list'|trans }}</h1>
        {% for product in products %}
            {% if loop.index0 % 3 == 0 %}
                <div class="row">
            {% endif %}
            <div class="col-sm-4">
                <div>{{ product.name }}</div>
                <a href="{{ path('product_detail', {'id': product.id}) }}">{{ 'see_details'|trans }}</a>
            </div>
            {% if loop.index % 3 == 0 %}
                </div>
            {% endif %}
        {% endfor %}

{% endblock %}
