<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>{% block title %}Mini product manager{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('build/css/app.css') }}">
    {% endblock %}
</head>
<body>
{% block header %}
    {% set current_locale = app.request.attributes.get('_locale') %}
    {% include 'parts/navbar.html.twig' with { 'current_locale' : current_locale } %}
{% endblock %}
<div class="container">
    {% include 'parts/flash.html.twig' %}
    {% block body %}{% endblock %}
</div>

{% block javascripts %}
    <script src="{{ asset('build/js/app.js') }}"></script>
    <script src="{{ asset('build/js/runtime.js') }}"></script>
{% endblock %}
</body>
</html>
